* {
  box-sizing: border-box;
  --light-orange: #fdd99c;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  margin: 0;
}

main {
  background-color: var(--light-orange);
}

/* Skip link styles */
.skip {
  position: absolute; 
  clip-path: inset(100%); 
  top: auto;
  width: 0;
  height: 0;
  overflow: hidden;
}

.skip:focus {
  clip-path: inset(0%); 
  top: 0;
  left: 0;
  display: block;
  background-color: var(--light-orange);
  padding: 20px;
  height: auto;
  width: auto;
  z-index: 1000; 
}

.skip:hover{
  background-color: #000;
  color: #f2f2f2;
}

section {
  padding: 40px;
}

.bg-img {
  background-image: url("assets/Taco-Beach.png");
  min-height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topnav {
  display: flex;
  overflow: hidden;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 25px;
}

.topnav a {
  color: #000;
  text-align: center;
  background-color: var(--light-orange);
  padding: 3px 16px;
  border-radius: 10px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #000;
  color: #f2f2f2;
  transform: scale(1.1);
}

.topnav a:focus {
  outline: 2px solid var(--light-orange);
  outline-offset: 2px;
}

h1 {
  font-family: "Climate Crisis", sans-serif;
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.2;
  color: var(--light-orange);
  text-align: left;
  position: absolute;
  bottom: -100px;
  left: 35px;
}

a {
  color: #000;
}

a:hover {
  background-color: #555;
  color: var(--light-orange);
}

a:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.img-container {
  float: right;
  max-width: 40%;
  padding: 20px;
}

.taco-night-img {
  max-width: 100%;
  height: auto;
  border-radius: 40%;
}

button {
  background-color: #000;
  color: #f2f2f2;
  padding: 2px 7px;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 25px;
}

ul img {
  max-width: 200px;
  border-radius: 10px 10px 0 0;
  margin: auto;
}

h4 {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  transition: 0.3s;
  background-color: #faf9f6;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.filling-requests {
  background-color: #f2c36d;
  padding: 15px;
  border-radius: 10px;
}

.taco-table-img {
  display: block;
  width: 100vw;
  max-height: 400px;
  object-fit: cover;
}

footer {
  text-align: left;
  padding: 20px;
  margin-top: auto;
}

.og-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

.socials a {
  text-decoration: none;
  font-size: 30px;
  margin: 0 10px;
  color: #000;
}

.socials a:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}
